<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rental_property.name %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @rental_property.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @rental_property.address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @rental_property.age %>
</p>

<p>
  <strong>Note:</strong>
  <%= @rental_property.note %>
</p>

<hr>
<% counter = 1 %>
  <%@rental_property.stations.each do |station|%>
    <P><%= "最寄駅#{counter}"%></p>
    <p>
      <strong>路線名:</strong>
      <%= station.line_name %>
    </p>

    <p>
      <strong>駅名:</strong>
      <%= station.station_name %>
    </p>

    <p>
      <strong>徒歩分数:</strong>
      <%= station.time %>
    </p>

    <% counter += 1 %>
    <br>
  <% end%>

<%= link_to 'Edit', edit_rental_property_path(@rental_property) %> |
<%= link_to 'Back', rental_properties_path %>
